/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* Global */
nav
{
  position: fixed;
  left: 3%;
  top: 47%;
  border-radius: 10px;
  background-color: #EDEFF5;
  padding: 1% 1% 1% 1%;
}

nav a
{
  display: block;
  padding-top: 1%;
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
}

nav a:hover
{
  color: #900000;
}

nav p
{
  font-weight: bold;
  text-decoration: underline;
  color: #900000;
  font-size: 1.2em;
}

.contenu
{
  display: block;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  background-color: #EDEFF5;
}

.contenu h1
{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #900000;
  border-bottom: 2px solid #900000;
}

.contenu div
{
  display: grid;
  grid-template-columns: 40% 60% repeat(2, 1fr);
}

.contenu div label
{
  margin-bottom: 10%;
  text-align: right;
  font-weight: bold;
  color: #900000;
  font-size: 1.25em;
}

.contenu div input
{
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 10%;
  margin-left: 10%;
  width: 70%;
  height: 50%;
  background-color: #EDEFF5;
  color: #900000;
  font-weight: bold;
  font-size: 1.5em;
}

.contenu div textarea
{
  border: none;
  border-bottom: 1px solid #000;
  text-align: justify;
  margin-bottom: 10%;
  margin-left: 10%;
  padding: 1%;
  width: 70%;
  background-color: #EDEFF5;
  color: #900000;
  font-weight: bold;
  font-size: 1.5em;
}

.contenu div select
{
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 60%;
  height: 50%;
  background-color: #EDEFF5;
  color: #900000;
  font-weight: bold;
  font-size: 1.5em;
}

.contenu .btn
{
  text-align: right;
}

.contenu .btn button
{
  text-align: center;
  width: 20%;
  margin-left: 55%;
  margin-bottom: 2%;
  border: none;
  border-radius: 10px;
  background-color: #900000;
  color: #fff;
  padding: 2%;
  font-size: 1.25em;
}

.grille_dispo
{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5,1fr);
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

.grille_dispo p:not(.except)
{
  text-align: right;
  vertical-align: middle;
}

.grille_dispo .except
{
  text-align: center;
}
