/* PC */

.hid_tel {
  display: block;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

h6 {
  visibility: hidden;
  margin-bottom: -5%;
}

body 
{
  background-image: url(../../img/background.jpg);
  background-attachment: fixed;
}

header {
  text-align: center;
}

header img {
  margin-top: 3%;
  width: 10%;
  height: auto;
}

.nav_bar {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(6,1fr);
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  background-color: var(--navBarBack);
}

.nav_bar a {
  color: var(--navBarText);
  text-transform: capitalize;
  font-size: 1.3em;
}

.nav_bar a:hover {
  color: var(--navBarHover);
}

footer {
  margin-top: 2%;
  margin-bottom: 0;
  width: 100%;
  background-color: var(--footerBack);
  text-align: center;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
}

footer p {
  color: var(--footerText);
  font-weight: bold;
  font-size: 1.1em;
  font: Arial;
}
