/* PC */

nav {
  position: fixed;
  left: 3%;
  top: 47%;
  border-radius: 10px;
  background-color: var(--background);
  padding: 1% 1% 1% 1%;
}

nav a {
  display: block;
  padding-top: 1%;
  text-decoration: none;
  color: var(--navBarHover);
  font-size: 1.1em;
}

nav a:hover {
  color: var(--Text);
}

nav p {
  font-weight: bold;
  text-decoration: underline;
  color: var(--Text);
  font-size: 1.2em;
}


.contenu {
  display: block;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 15%;
  border-radius: 10px;
  background-color: var(--background);
  text-align: center;
}

.contenu h1 {
  padding-top: 1%;
  padding-left: 2%;
  color: var(--Text);
}

.contenu h2 {
  text-align: left;
  padding-top: 1%;
  padding-left: 2%;
  color: var(--Text);
  text-decoration: underline;
}

.contenu h3 {
  text-align: left;
  /* margin-bottom: -2%; */
  padding-left: 2%;
  text-decoration: underline;
}

.contenu p {
  padding: 0 4% 2% 4%;
  text-align: justify;
  font-size: 1.5em;
}

.contenu a {
  padding: 0% 2% 2% 2%;
  text-align: center;
  font-size: 1.25em;
  color: var(--navBarHover);
}

.contenu a:hover {
  color: var(--Text);
  text-decoration: underline;
}

.contenu ul {
  text-align: justify;
  font-size: 1.5em;
}

.contenu li {
  text-align: justify;
  font-size: 0.75em;
}

/* Lien d'invitation discord */
.contenu .discord {
  margin-top: 5%;
}

.contenu .discord a img {
  width: 20%;
  height: auto;
}

/* Loi Miranda */
.miranda p {
  text-align: center;
  font-size: 1.25em;
  font-style: oblique;
}

.miranda p strong {
  text-align: center;
  font: italic small-caps bold 16px/2 cursive;
  color: var(--Text);
  text-decoration: underline;
}
