{# Modèle de page#}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/assets/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/global/general.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/global/page.css">
    {% block style %}{% endblock %}
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Xelyos Team - Thomas">
    <meta name="keywords" content="{% block key %}{% endblock %}, {{ _nomFaction }}, Site Factice, {{ _jeuServeur }}, {{ _nomServeur }}">
    <title>EMS{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <img src="/assets/img/logo.png" alt="">

      <div class="nav_bar">
        <p class="hid_tel"></p>
        {% block navigation %}{% endblock %}
        <p><a href="http://{{ _URLIntranet }}/" target="_blank">Intranet</a></p>
        <p class="hid_tel"></p>
      </div>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      <p>EMS Los Santos Departement</p>
      <p>2020</p>
      <p>Developped by Xelyos Team</p>
    </footer>

    {% block script %}{% endblock %}
  </body>

</html>
