{# Page pour les candidatures #}
{% extends "_base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/assets/styles/global/form.css">
{% endblock %}

{% block description %}Candidature{% endblock %}

{% block key %}Candidature{% endblock %}

{% block title %}- Candidature{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Reglements">Règlements</a></p>
  <p><a href="/Histoire">Histoire</a></p>
{% endblock %}

{% block main %}
  <form class="connexion" action="/ajout-candidature" method="post">

    <section class="contenu">
      <h1>Inscription Civil</h1>
        <div>
          <label for="dicord">Identifiant Discord* :</label>
          <input type="text" name="candid_discord" id="dicord" placeholder="Entrer votre identifiant discord" required>
        </div>

        <div>
          <label for="phone">Téléphone (IG)* :</label>
          <input type="tel" name="candid_phone" id="phone" placeholder="Numéro de téléphone" required>
        </div>
    </section>

    <section class="contenu">
      <h1>Présentation</h1>

      <div>
        <label for="name">Nom (IG)* :</label>
        <input type="text" name="candid_name" id="name" placeholder="Nom" required>
      </div>

      <div>
        <label for="firstname">Prénom (IG)* :</label>
        <input type="text" name="candid_firstname" id="firstname" placeholder="Prénom" required>
      </div>

      <div>
        <label for="age_ig">Age(IG)* :</label>
        <input type="number" name="candid_ig" id="age_ig" min="17" max="60" placeholder="Age IG" required>
      </div>

      <div>
        <label for="age_irl">Age(IRL)* :</label>
        <input type="number" name="candid_irl" id="age_irl"  min="14" max="80" placeholder="Age IRL" required>
      </div>
    </section>

    <section class="contenu">
      <h1>Information</h1>

      <div>
        <label for="server_time">Temps de jeu sur le serveur* :</label>
        <input type="number" name="candid_server_time" id="server_time"  min="0" placeholder="Temps en heure" required>
      </div>

      <div>
        <label for="gta_time">Temps de jeu GTA RP* :</label>
        <input type="number" name="candid_gta_time" id="gta_time"  min="0" placeholder="Temps en heure" required>
      </div>

      <div>
        <label id="force" for="faction">Avez-vous déjà été secouriste ?</label>
        <select name="candid_faction" id="faction" onchange="change_force()">
          <option value="0">Non</option>
          <option value="1">Oui</option>
        </select>
      </div>

      <div id="force_suite">
        <label for="detail_faction">Laquelle et à quel poste ?</label>
        <input type="text" name="candid_detail_faction" id="detail_faction" placeholder="Nom + poste">
      </div>
    </section>

    <section class="contenu">
      <h1>Disponibilité</h1>

      <div>
        <label for="time_school">Periode scolaire/alternance :</label>
        <select name="candid_time_school" id="time_school" onchange="visibility_1()">
          <option value="1">Concerné</option>
          <option value="0">Non Concerné</option>
        </select>
      </div>

      <div style="display: block;" id="dispo_1">
        <section class="grille_dispo"> <!-- A améliorer -->
          <p></p>
          <p class="except">Matin</p>
          <p class="except">Après-midi</p>
          <p class="except">Soir</p>
          <p class="except">Nuit</p>
          <p>Lundi</p>
          <input type="checkbox" name="school_lun_am">
          <input type="checkbox" name="school_lun_pm">
          <input type="checkbox" name="school_lun_abend">
          <input type="checkbox" name="school_lun_night">
          <p>Mardi</p>
          <input type="checkbox" name="school_mar_am">
          <input type="checkbox" name="school_mar_pm">
          <input type="checkbox" name="school_mar_abend">
          <input type="checkbox" name="school_mar_night">
          <p>Mercredi</p>
          <input type="checkbox" name="school_mer_am">
          <input type="checkbox" name="school_mer_pm">
          <input type="checkbox" name="school_mer_abend">
          <input type="checkbox" name="school_mer_night">
          <p>Jeudi</p>
          <input type="checkbox" name="school_jeu_am">
          <input type="checkbox" name="school_jeu_pm">
          <input type="checkbox" name="school_jeu_abend">
          <input type="checkbox" name="school_jeu_night">
          <p>Vendredi</p>
          <input type="checkbox" name="school_ven_am">
          <input type="checkbox" name="school_ven_pm">
          <input type="checkbox" name="school_ven_abend">
          <input type="checkbox" name="school_ven_night">
          <p>Samedi</p>
          <input type="checkbox" name="school_sam_am">
          <input type="checkbox" name="school_sam_pm">
          <input type="checkbox" name="school_sam_abend">
          <input type="checkbox" name="school_sam_night">
          <p>Dimanche</p>
          <input type="checkbox" name="school_dim_am">
          <input type="checkbox" name="school_dim_pm">
          <input type="checkbox" name="school_dim_abend">
          <input type="checkbox" name="school_dim_night">
        </section>
      </div>


      <div>
        <label for="time_vacances">Periode de vacances :</label>
        <select name="candid_time_vacances" id="time_vacances" onchange="visibility_2()">
          <option value="1">Concerné</option>
          <option value="0">Non Concerné</option>
        </select>
      </div>

      <div style="display: block;" id="dispo_2">
        <section class="grille_dispo"> <!-- A améliorer -->
          <p></p>
          <p class="except">Matin</p>
          <p class="except">Après-midi</p>
          <p class="except">Soir</p>
          <p class="except">Nuit</p>
          <p>Lundi</p>
          <input type="checkbox" name="vacances_lun_am">
          <input type="checkbox" name="vacances_lun_pm">
          <input type="checkbox" name="vacances_lun_abend">
          <input type="checkbox" name="vacances_lun_night">
          <p>Mardi</p>
          <input type="checkbox" name="vacances_mar_am">
          <input type="checkbox" name="vacances_mar_pm">
          <input type="checkbox" name="vacances_mar_abend">
          <input type="checkbox" name="vacances_mar_night">
          <p>Mercredi</p>
          <input type="checkbox" name="vacances_mer_am">
          <input type="checkbox" name="vacances_mer_pm">
          <input type="checkbox" name="vacances_mer_abend">
          <input type="checkbox" name="vacances_mer_night">
          <p>Jeudi</p>
          <input type="checkbox" name="vacances_jeu_am">
          <input type="checkbox" name="vacances_jeu_pm">
          <input type="checkbox" name="vacances_jeu_abend">
          <input type="checkbox" name="vacances_jeu_night">
          <p>Vendredi</p>
          <input type="checkbox" name="vacances_ven_am">
          <input type="checkbox" name="vacances_ven_pm">
          <input type="checkbox" name="vacances_ven_abend">
          <input type="checkbox" name="vacances_ven_night">
          <p>Samedi</p>
          <input type="checkbox" name="vacances_sam_am">
          <input type="checkbox" name="vacances_sam_pm">
          <input type="checkbox" name="vacances_sam_abend">
          <input type="checkbox" name="vacances_sam_night">
          <p>Dimanche</p>
          <input type="checkbox" name="vacances_dim_am">
          <input type="checkbox" name="vacances_dim_pm">
          <input type="checkbox" name="vacances_dim_abend">
          <input type="checkbox" name="vacances_dim_night">
        </section>
      </div>


      <div>
        <label for="time_work">Periode de Travail/Stage/Alternance :</label>
        <select name="candid_time_work" id="time_work" onchange="visibility_3()">
          <option value="1">Concerné</option>
          <option value="0">Non Concerné</option>
        </select>
      </div>

      <div style="display: block;" id="dispo_3">
        <section class="grille_dispo"> <!-- A améliorer -->
          <p></p>
          <p class="except">Matin</p>
          <p class="except">Après-midi</p>
          <p class="except">Soir</p>
          <p class="except">Nuit</p>
          <p>Lundi</p>
          <input type="checkbox" name="work_lun_am">
          <input type="checkbox" name="work_lun_pm">
          <input type="checkbox" name="work_lun_abend">
          <input type="checkbox" name="work_lun_night">
          <p>Mardi</p>
          <input type="checkbox" name="work_mar_am">
          <input type="checkbox" name="work_mar_pm">
          <input type="checkbox" name="work_mar_abend">
          <input type="checkbox" name="work_mar_night">
          <p>Mercredi</p>
          <input type="checkbox" name="work_mer_am">
          <input type="checkbox" name="work_mer_pm">
          <input type="checkbox" name="work_mer_abend">
          <input type="checkbox" name="work_mer_night">
          <p>Jeudi</p>
          <input type="checkbox" name="work_jeu_am">
          <input type="checkbox" name="work_jeu_pm">
          <input type="checkbox" name="work_jeu_abend">
          <input type="checkbox" name="work_jeu_night">
          <p>Vendredi</p>
          <input type="checkbox" name="work_ven_am">
          <input type="checkbox" name="work_ven_pm">
          <input type="checkbox" name="work_ven_abend">
          <input type="checkbox" name="work_ven_night">
          <p>Samedi</p>
          <input type="checkbox" name="work_sam_am">
          <input type="checkbox" name="work_sam_pm">
          <input type="checkbox" name="work_sam_abend">
          <input type="checkbox" name="work_sam_night">
          <p>Dimanche</p>
          <input type="checkbox" name="work_dim_am">
          <input type="checkbox" name="work_dim_pm">
          <input type="checkbox" name="work_dim_abend">
          <input type="checkbox" name="work_dim_night">
        </section>
      </section>
      </div>


    <section class="contenu">
      <h1>Objectifs au sein des secours</h1>

      <div>
        <label for="unite">Quelles unités des souhaitez-vous intégrer ?</label>
        <input type="text" name="candid_unite" id="unite" placeholder="Maritime / Aérienne / etc..." required>
      </div>

      <div>
        <label>Quels sont vos motivations* ?</label>
        <textarea id="candid_motivation" name="candid_motivations" rows="10" placeholder="Motivations" required></textarea>
      </div>
    </section>

    <section class="contenu">
      <h1>Test de connaissance</h1>

      <div>
        <label for="swat">Question n°1</label>
        <select name="candid_swat" id="swat">
          <option value="0">Choix 1</option>
          <option value="1">Choix 2</option>
          <option value="2">Choix 3</option>
          <option value="3">Choix 4</option>
        </select>
      </div>

      <div>
        <label>Question n°2</label>
        <input type="text" name="candid_k9" id="unité_canine" placeholder="Réponse" required>
      </div>

      <div>
        <label for="parole">Question n°3</label>
        <select name="candid_weapon" id="parole">
          <option value="0">Choix 1</option>
          <option value="1">Choix 2</option>
          <option value="2">Choix 3</option>
          <option value="3">Choix 4</option>
        </select>
      </div>

      <div>
        <label for="commissariat">Question n°4</label>
        <select name="candid_lieu" id="commissariat">
          <option value="0">Choix 1</option>
          <option value="1">Choix 2</option>
          <option value="2">Choix 3</option>
          <option value="3">Choix 4</option>
        </select>
      </div>

      <div>
        <label for="route">Question n°5</label>
        <select name="code_de_la_route" id="route">
          <option value="0">Choix 1</option>
          <option value="1">Choix 2</option>
          <option value="2">Choix 3</option>
          <option value="3">Choix 4</option>
        </select>
      </div>

      <div>
        <label for="ordre">Question n°6</label>
        <select name="candid_ordre" id="ordre">
          <option value="0">Choix 1</option>
          <option value="1">Choix 2</option>
          <option value="2">Choix 3</option>
          <option value="3">Choix 4</option>
        </select>
      </div>

      <div class="btn">
        <p></p>
        <button type="submit" name="button">Envoyer</button>
      </div>
    </section>
  </form>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/assets/script/candidature.js"></script>
{% endblock %}
