{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}{% endblock %}

{% block description %}Candidature{% endblock %}

{% block key %}Candidature{% endblock %}

{% block title %} - Recrutement Fermé{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Reglements">Règlements</a></p>
  <p><a href="/Histoire">Histoire</a></p>
{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Les recrutements sont fermés pour le moment</h1>
</section>
{% endblock %}

{% block script %}{% endblock %}
