{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}{% endblock %}

{% block description %}Accueil{% endblock %}

{% block key %}Accueil{% endblock %}

{% block title %}- Accueil{% endblock %}

{% block navigation %}
  <p><a href="/Histoire">Histoire</a></p>
  <p><a href="/Reglements">Règlements</a></p>
  <p><a href="/Candidature" target="_blank">Candidature</a></p>
{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Site internet</h1>
  <p>Bienvenue sur le site des EMS. Ici, vous pourrez retrouver toutes les
    informations nécessaires lors de votre aventure sur le Serveur GTA V
    de Mystery Island.
  </p>

  <h1>Nous rejoindre !</h1>
  <p>Tu souhaites nous rejoindre, pas de soucis, voici un lien direct vers notre Discord :</p>

  <section class="discord">
    <h6>Lien d'invitation Discord</h6>
    <a href="{{ _adresseDiscord }}" target="_blank"><img src="/assets/img/logo_discord.png" alt="Logo Discord"></a>
  </section>

  <h1>Site Factice</h1>
  <p>Nous vous rappelons que ce site est factice, il a été développé dans le cadre d'un jeu vidéo pour un serveur
  GTA V Life. Aucune des informations que vous pourrez retrouver sur ce site n'est valable dans la vie réelle
  (règlement, inscription, etc...)</p>
</section>
{% endblock %}

{% block script %}{% endblock %}
