{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}{% endblock %}

{% block description %}Règlements de la LSPD{% endblock %}

{% block key %}Règlements{% endblock %}

{% block title %}- Règlement de la ville{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Histoire">Histoire</a></p>
  <p><a href="/Candidature" target="_blank">Candidature</a></p>
{% endblock %}

{% block main %}
  {% if index|length > 0 %}
  <nav>
    <p>Navigation :</p>
    {% for item in index %}
    <a href="#{{ item.identifiant }}">{{ item.nom }}</a>
    {% endfor %}
    <a href="#">Revenir en haut</a>
  </nav>
  {% endif %}

  {% for rule in content %}
  <section id="{{ rule.identifiant }}" class="contenu">
    {% if rule.type == 'miranda' %}
      <section class="miranda">
    {% endif %}
      {{ rule.fichier|raw }}
    {% if rule.type == 'miranda' %}
      </section>
    {% endif %}
  </section>
  {% endfor %}
{% endblock %}
