{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}{% endblock %}

{% block description %}Règlements de la LSPD{% endblock %}

{% block key %}Règlements{% endblock %}

{% block title %}- Règlement de la ville{% endblock %}

{% block navigation %}
  <p><a href="/">Accueil</a></p>
  <p><a href="/Histoire">Histoire</a></p>
  <p><a href="/Candidature" target="_blank">Candidature</a></p>
{% endblock %}

{% block main %}
  <!-- <nav>
    <p>Navigation :</p>
  </nav> -->

  <section class="contenu">
    <h1>Règlements</h1>
    <p>Le règlement est actuellement en cours d'élaboration</p>
</section>
{% endblock %}
