/*
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
*/

/* Gestion des couleurs sur l'intranet */
:root {
  /* Barre de navigation */
  --navBarBack: #900000; /* Couleur barre de navigation */
  --navBarText: #f7f7f7; /* Couleur du text barre de navigation */
  --navBarHover: #000; /* Couleur du text barre de navigation survolé*/

  /* Content */
  --background: #EDEFF5; /* couleur de fond */
  --Bouton: #900000; /* fond bouton */
  --BoutonText: #f7f7f7; /* texte bouton */
  --BoutonTextHover: #000; /* texte bouton survolé */
  --Text: #900000; /* couleur texte */
  --placeholder: #900000;  /* texte champ de saisie */
  --textAlert: #AE0000; /* texte des alertes */
  
  /* Footer */
  --footerBack: #900000; /* Couleur de fond */
  --footerText: #fff; /* Couleur des textes */

}
