/* Phone */
@media (max-width:1001px) {
  .hid_tel {
    display: none;
  }

  body {
    background-image: url(../../img/background_phone.jpg);
    background-attachment: fixed;
  }

  header img {
    margin-top: 3%;
    width: 20%;
    height: auto;
  }

  .nav_bar {
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 10px;
    background-color: var(--navBarBack);
  }
}
