/* Phone */
@media (max-width:1001px)
{

  nav
  {
    position: fixed;
    left: 0.25%;
    top: 47%;
    border-radius: 10px;
    background-color: var(--background);
    padding: 1% 1% 1% 1%;
  }

  .contenu
  {
    display: block;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    background-color: var(--background);
    text-align: center;
  }
}
